body {
    color: whitesmoke;
    background-color: rgb(73, 73, 73);
}

a {
    color: whitesmoke;
    text-decoration: none;
}


.groupContainer > * {
    text-align: center;
    flex-wrap: wrap;
}

.notificationSection .dropdown-item {
    background-color: transparent;
}

.notificationSection .dropdown-item:hover,
.notificationSection .dropdown-item:focus,
.notificationSection .dropdown-item:active {
    background-color: transparent;
}