<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">-->
        {% block head %}
        {% endblock %}
    </head>
    <body class="container">
        <nav class="container-fluid">
            <h1>Digital Bill Splitter Deluxe</h1>
            <button>Add Group</button>
            <button>Account</button>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>