<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/customBase.css')}}">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">-->
        {% block head %}
        {% endblock %}
    </head>
    <body class="container">
        <nav class="nav">
            <a href="{{url_for('root.index')}}">
            <h1>Digital Bill Splitter Deluxe</h1>
            </a>
            {% if current_user.is_authenticated %}
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">Add Group</button>
                <ul class="dropdown-menu">
                    <li><button type="button" data-bs-toggle="modal" data-bs-target="#createGroupModal">Create group</button></li>
                    <li><button type="button" data-bs-toggle="modal" data-bs-target="#joinGroupModal">Join group</button></li>
                </ul>
                <button class="btn"><a href="{{url_for('account.debts')}}" >View debts</a></button>
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">Account</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('account.manage')}}">Account settings</a></li>
                    <li><a class="dropdown-item" href="{{url_for('account.logout')}}">Log out</a></li>
                </ul>

                <button class="btn dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Notifications <span class="badge bg-danger notificationCounter">{{notifications|length}}</span> <!-- replace this with the len of notis-->
                </button>

                <div class="dropdown-menu dropdown-menu-end p-0"
                    style="width: 320px;">

                    <div class="overflow-auto notificationSection" style="max-height: 50vh;">
                        {% for notification in notifications %}
                            <span class="dropdown-item text-wrap">
                                {% if notification.type == "create bill" %}
                                    {{notification.creator.username}} created a bill in {{notification.group.name}}

                                {% elif notification.type == "edit bill" %}
                                    {{notification.creator.username}} edited a bill in {{notification.group.name}}

                                {% elif notification.type == "payment acknowledged" %}
                                    {{notification.creator.username}} acknowledged your payment in {{notification.group.name}}

                                {% elif notification.type == "payment rejected" %}
                                    {{notification.creator.username}} rejected your payment in {{notification.group.name}}

                                {% elif notification.type == "bill payment" %}
                                    {{notification.creator.username}} has submitted a payment in {{notification.group.name}}

                                {% endif %}
                                <button data-notification-id="{{notification.id}}">Dismiss</button>
                            </span>
                        {% endfor %}
                        {% if notifications|length == 0 %}
                            <span class="dropdown-item text-wrap">You currently have no notifications.</span>
                        {% endif %}
                    </div>
                    <!--this will need a fair amount of if statements, the notifications will need to be queried for
                    every page, when you click the dismiss button (which isnt implemented here yet), it will drop
                    the notification from the table, you should probably also make it so notifications arent sent to yourself-->

                    </div>
                </div>


            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
        <div class="modal fade" id="createGroupModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Create group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="group/create" class="groupForm">
                        {{createGroupForm.groupName.label}}
                        {{createGroupForm.groupName()}}
                        {{createGroupForm.groupPassword.label}}
                        {{createGroupForm.groupPassword()}}
                        {{createGroupForm.groupName.label}}
                        {{createGroupForm.submit()}}


                    </form>
                </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="joinGroupModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Join group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <a href="{{url_for('root.joinGroup')}}">Join group</a>
                    <form method="POST" action="/group/join" class="groupForm">
                        {{joinGroupForm.groupName.label}}
                        {{joinGroupForm.groupName()}}
                        {{joinGroupForm.groupPassword.label}}
                        {{joinGroupForm.groupPassword()}}
                        {{joinGroupForm.groupName.label}}
                        {{joinGroupForm.submit()}}


                    </form>
                </div>

                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{url_for('static', filename='js/dismissNotification.js')}}"></script>
        <script src="{{url_for('static', filename='js/groupForms.js')}}"> </script>

    </body>
</html>