{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<h3>Your current debts</h3>
<div class="grid">
    <div class="row">
        <div class="col"><p>Description</p></div>
        <div class="col"><p>Total owed</p></div>
        <div class="col"><p>What you owe</p></div>
        <div class="col"><p>What you've paid</p></div>
        <div class="col"><p>Created by</p></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"><p>placeholder</p></div>
        <div class="col"><p>placeholder</p></div>
        <div class="col"><p>placeholder</p></div>
        <div class="col"><p>placeholder</p></div>
        <div class="col"><p>placeholder</p></div>
        <div class="col"><button>Pay</button></div>
    </div>
</div>
<hr>

<h3>Your previous debts</h3>
<div>
</div>
{% endblock %}