{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<h2>{{group.name}}</h2>
<hr>
<p>Created: {{group.createdAt}}</p>
<p>
    Members: {{members}}
</p>
{% if current_user.username == "admin" %}
    <button><a href="{{url_for('group.delete', groupId=group.id)}}">Delete group</a></button>
{% endif %}
<hr>
<button type="button" data-bs-toggle="modal" data-bs-target="#createBill">Create new bill</button>
<hr>
<h3>Current bills</h3>
<div class="grid">
    <div class="row">
        <div class="col"><p>Description</p></div>
        <div class="col"><p>Cost</p></div>
        <div class="col"><p>Created by</p></div>
    </div>
    {% for bill in bills %}
        {% if settledBillMap[bill.id] == False and bill.archived == False %}
            <a href="{{url_for('group.groupBillPage', groupId=group.id, billId=bill.id)}}">
                <div class="row">
                    <div class="col"><p>{{bill.description}}</p></div>
                    <div class="col"><p>{{bill.total}}</p></div>
                    {% if bill.creator == current_user %}
                        <div class="col"><p>You</p></div>
                    {% else %}
                        <div class="col"><p>{{bill.creator.username}}</p></div>
                    {% endif %}
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
<hr>
<h3>Archived bills</h3>
<div>
    <div class="row">
        <div class="col"><p>Description</p></div>
        <div class="col"><p>Cost</p></div>
        <div class="col"><p>Created by</p></div>
    </div>
    <div class="row">
        <div class="col"><p></p></div>
        <div class="col"><p></p></div>
        <div class="col"><p></p></div>
    </div>
    {% for bill in bills %}
        {% if bill.archived == True %}
            <a href="{{url_for('group.groupBillPage', groupId=group.id, billId=bill.id)}}">
                <div class="row">
                    <div class="col"><p>{{bill.description}}</p></div>
                    <div class="col"><p>{{bill.total}}</p></div>
                    {% if bill.creator == current_user %}
                        <div class="col"><p>You</p></div>
                    {% else %}
                        <div class="col"><p>{{bill.creator.username}}</p></div>
                    {% endif %}
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
<hr>
<h3>Previous bills</h3>
<div>
    <div class="row">
        <div class="col"><p>Description</p></div>
        <div class="col"><p>Cost</p></div>
        <div class="col"><p>Created by</p></div>
    </div>
    <div class="row">
        <div class="col"><p></p></div>
        <div class="col"><p></p></div>
        <div class="col"><p></p></div>
    </div>
    {% for bill in bills %}
        {% if settledBillMap[bill.id] == True and bill.archived == False %}
            <a href="{{url_for('group.groupBillPage', groupId=group.id, billId=bill.id)}}">
                <div class="row">
                    <div class="col"><p>{{bill.description}}</p></div>
                    <div class="col"><p>{{bill.total}}</p></div>
                    {% if bill.creator == current_user %}
                        <div class="col"><p>You</p></div>
                    {% else %}
                        <div class="col"><p>{{bill.creator.username}}</p></div>
                    {% endif %}
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>


<div class="modal fade" id="createBill" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">New bill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="POST">
                        {{form.hidden_tag()}}
                        <div>
                            <div>
                                {{form.description.label}}
                                {{form.description()}}
                                {% for error in form.description.errors %}
                                    <p style="color:red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div>
                                {{form.total.label}}
                                {{form.total()}}
                                {% for error in form.total.errors %}
                                    <p style="color:red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div>
                                {{form.proportions.label}}
                                <button onclick="splitEvenly()" type="button">Split evenly</button>
                                {% for proportion in form.proportions %}
                                <div>
                                    <span>{{proportion.memberName.data}}</span>
                                    <span class="percent" data-for="{{proportion.proportion.id}}"></span>%
                                    {{proportion.memberId()}}
                                    {{proportion.memberName()}}
                                    <div>{{proportion.proportion(oninput="update(this)")}}</div>
                                </div>
                                {% endfor %}
                                <span class="totalPercent">Total: </span>%
                                {% for error in form.proportions.errors %}
                                    <p style="color:red">{{ error }}</p>
                                {% endfor %}
                            </div>                  
                        </div>
                        {{form.submit()}}

                    </form>
                </div>

                </div>
            </div>
        </div>
<script src="{{url_for('static', filename='js/updatePercents.js')}}"></script>
{% endblock %}