{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<p>Creator: {{bill.creator.username}}</p>

<h2>Bill split</h2>
<hr>
<div class="grid" id="debtorsGrid">
    <div class="row">
        <div class="col">Name</div>
        <div class="col">Proportion</div>
        <div class="col">Owed</div>
    </div>

    {% for debtor in debtors %}
        <div class="row">
            <div class="col">{{debtor.user.username}}</div>
            <div class="col">{{debtor.proportion}}%</div>
            <div class="col">£{{debtor.owed}}</div>
        </div>
    {% endfor %}

</div>
    {% if current_user == bill.creator or current_user.username == "admin"%}
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editBill">Edit bill</button>
        {% if bill.archived == False %}
            <button class="btn btn-warning" onclick="window.location.href=`{{ url_for('group.archiveBill', billId=bill.id) }}`">Archive bill</button>
        {% else %}
            <button class="btn btn-warning" onclick="window.location.href=`{{ url_for('group.unarchiveBill', billId=bill.id) }}`">Unarchive bill</button>

        {% endif %}
        <button class="btn btn-danger" onclick="window.location.href=`{{ url_for('group.deleteBill', id=bill.id) }}`">Delete bill</button>

    {% endif %}

<h2>Payments</h2>
<hr>
<div class="paymentGrid grid">
    <div class="row">
        <div class="col">Name</div>
        <div class="col">Paid</div>
        <div class="col">Evidence</div>
        <div class="col">Status</div>
    </div>
    {% for payment in payments %}
        <div class="row paymentRow">
            <div class="col">{{payment.user.username}}</div>
            <div class="col">{{payment.amount}}</div>
            <div class="col"><img src="{{url_for('root.image', paymentId=payment.id)}}" alt="evidence for payment id: {{payment.id}}" style="max-width: 10vw; max-height: 10vh;"></div>
            <div class="col status">{{payment.status}}</div>
            {% if payment.status == "pending" and (current_user == payment.bill.creator or current_user.username == "admin") and payment.bill.archived != True %}
                <div class="row"><button class="btn btn-success" data-payment-id="{{payment.id}}" data-action="ack">Acknowledge</button></div>
                <div class="row"><button class="btn btn-danger" data-payment-id="{{payment.id}}" data-action="rej">Reject</button></div>
            {% endif %}
        </div>
    {% endfor %}

</div>
{% if current_user.username == "admin" %}
    <h2>Bill logs</h2>
    <hr>
    <div class="grid">
        <div class="row">
            <div class="col">User</div>
            <div class="col-6">Log information</div>
            <div class="col">At</div>
        </div>
        {% for log in logs %}
            <div class="row">
                <div class="col">{{log.user.username}}</div>
                <div class="col-6">{{log.information}}</div>
                <div class="col">{{log.createdAt}}</div>

            </div>
        {% endfor %}

    </div>
{% endif %}
<div class="modal fade" id="editBill" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Edit bill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editBillForm" method="POST" action="{{ url_for('group.editBill', billId=bill.id, form=form) }}">
                        {{form.hidden_tag()}}
                        <div>
                            {{form.description.label}}
                            {{form.description()}}
                            {% for error in form.description.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}
                            {{form.total.label}}
                            {{form.total()}}
                            {% for error in form.total.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %} 
                            <div>
                                {{form.proportions.label}}
                                <button onclick="splitEvenly()" type="button" class="btn btn-dark">Split evenly</button>
                                {% for proportion in form.proportions %}
                                <div>
                                    <span>{{proportion.memberName.data}}</span>
                                    <span class="percent" data-for="{{proportion.proportion.id}}"></span>%
                                    {{proportion.memberId()}}
                                    {{proportion.memberName()}}
                                    <div>{{proportion.proportion(oninput="update(this)")}}</div>
                                </div>
                                {% endfor %}
                                <span class="totalPercent">Total: </span>%
                                <div class="errors" style="color: red;">

                                </div>
                            </div>                          
                        </div>
                        <label style="color: red">Warning: editing the bill will delete all previous payments.</label>
                        {{form.submit(class="btn btn-success")}}

                    </form>
                </div>

                </div>
            </div>
        </div>


<script src="{{url_for('static', filename='js/paymentAction.js')}}"></script>
<script src="{{url_for('static', filename='js/editBill.js')}}"></script>
<script src="{{url_for('static', filename='js/updatePercents.js')}}"></script>
{% endblock %}