{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<p>{{bill.id}}</p>

<h2>Bill split</h2>
<hr>
<div class="grid">
    <div class="row">
        <div class="col">Name</div>
        <div class="col">Proportion</div>
        <div class="col">Owed</div>
    </div>

    {% for debtor in debtors %}
        <div class="row">
            <div class="col">{{debtor.user.username}}</div>
            <div class="col">{{debtor.proportion}}%</div>
            <div class="col">£{{debtor.owed}}</div>
        </div>
    {% endfor %}
    {% if current_user == bill.creator %}
        <button type="button" data-bs-toggle="modal" data-bs-target="#editBill">Edit bill</button> <!--ajax will be used to do this,
        - opens modal
        - pre fills fields with existing data
        - if you do change, all existing payments are removed and all debtors remarked as unpad
         -->
    {% endif %}

</div>

<h2>Payments</h2>
<hr>
<div class="paymentGrid grid">
    <div class="row">
        <div class="col">Name</div>
        <div class="col">Paid</div>
        <div class="col">Evidence</div>
        <div class="col">Status</div>
    </div>
    {% for payment in payments %}
        <div class="row paymentRow">
            <div class="col">{{payment.user.username}}</div>
            <div class="col">{{payment.amount}}</div>
            <div class="col">Evidence</div>
            <div class="col status">{{payment.status}}</div>
            {% if payment.status == "pending" and current_user == payment.bill.creator %}
                <div class="row"><button data-payment-id="{{payment.id}}" data-action="ack">Acknowledge</button></div>
                <div class="row"><button data-payment-id="{{payment.id}}" data-action="rej">Reject</button></div>
            {% endif %}
        </div>
    {% endfor %}

</div>

<div class="modal fade" id="editBill" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Edit bill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editBillForm" method="POST" action="{{ url_for('group.editBill', groupId=bill.groupId, billId=bill.id) }}"></form>>
                        {{form.hidden_tag()}}
                        <div>
                            {{form.description.label}}
                            {{form.description()}}
                            {% for error in form.description.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}
                            {{form.total.label}}
                            {{form.total()}}
                            {% for error in form.total.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}                          
                        </div>
                        {{form.submit()}}

                    </form>
                </div>

                </div>
            </div>
        </div>
<script src="{{url_for('static', filename='js/paymentAction.js')}}"></script>
<script src="{{url_for('static', filename='js/editBill.js')}}"></script>
{% endblock %}