{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h2>Groups</h2>
<div class="groupGrid">
{% if groups|length == 0 %}
    <p>Sorry, there are no groups to display.</p>
{% else %}
    {% for group in groups %}
        <div class="groupContainer">
            <a href="{{url_for('group.groupPage', id=group.id)}}">
            <div><h3>{{group.name}}</h3></div>
            <div>{{group.createdAt}}</div>
            </a>
        </div>

    {% endfor %}
{% endif %}
</div>

{% endblock %}
