{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<h2>Groups</h2>
{% if groups|length == 0 %}
    <div class="groupGrid gap-4 d-flex flex-wrap">
        <p class="noGroupLabel">Sorry, there are no groups to display.</p>
    </div>
{% else %}
        <div class="groupGrid gap-4 d-flex flex-wrap">
            {% for group in groups %}
                <div class="groupContainer bg-dark rounded d-flex justify-content-center flex-wrap text-nowrap-no">
                    <a href="{{url_for('group.groupPage', id=group.id)}}">
                    <div class="text-wrap"><h3>{{group.name}}</h3></div>
                    <div><p>{{group.createdAt}}</p></div>
                    </a>
                </div>

            {% endfor %}
        </div>
{% endif %}


{% endblock %}
