{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
<h2>Account</h2>
<hr>
<h3>Account details:</h3>
<form method="POST">
    {{accountForm.hidden_tag()}}
    <div>
        {{accountForm.email.label}}
        {{accountForm.email()}}
    </div>
    {% for error in accountForm.email.errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <div>
        {{accountForm.username.label}}
        {{accountForm.username()}}
    </div>
    {% for error in accountForm.username.errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <div>
        {{accountForm.submit(class="btn btn-success")}}
    </div>
</form>
<p>Created: {{current_user.createdAt}}</p>
<hr>
<h3>Change password</h3>
<form method="POST">
    {{passwordForm.hidden_tag()}}
    <div>
        {{passwordForm.currentPassword.label}}
        {{passwordForm.currentPassword()}}
    </div>
    {% for error in passwordForm.currentPassword.errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <div> 
        {{passwordForm.newPassword.label}}
        {{passwordForm.newPassword()}}
    </div>
    {% for error in passwordForm.newPassword.errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <div>
        {{passwordForm.confirmNewPassword.label}}
        {{passwordForm.confirmNewPassword()}}
    </div>
    {% for error in passwordForm.confirmNewPassword.errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <div>
        {{passwordForm.submit(class="btn btn-success")}}
    </div>
</form>
<hr>
<button class="btn btn-danger" onclick="window.location.href=`{{ url_for('account.logout') }}`">Logout</button>
{% endblock %}