{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<!--
<form name="loginForm" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Email</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit">

</form>
-->
<div class="container-fluid">
    <form method="POST">
        {{form.hidden_tag()}}
        <div>
            <div>
                {{form.username.label}}
                {{form.username()}}
            </div>
            {% for error in form.username.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
            <div>
                {{form.email.label}}
                {{form.email()}}
            </div>
            {% for error in form.email.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
            <div>
            {{form.password.label}}
            {{form.password()}}
            </div>
            {% for error in form.password.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
            <div>
            {{form.confirmPassword.label}}
            {{form.confirmPassword()}}
            </div>
            {% for error in form.confirmPassword.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
            
        </div>
        {{form.submit(class="btn btn-success")}}

    </form>
    <a href="{{url_for('account.login')}}">Login to account</a>
</div>


{% endblock %}